<h2>Search Product</h2>
<div class="search_product">
  <form action="/admin/products" method="get">
    <p>Product Name</p>
    <input type="text" name="name" value="<%= searchOptions.name %>" />
    <button class="btn" type="submit">Search</button>
  </form>
</div>

<br />
<div class="all_products">
  <% products.forEach(product=>{%>
  <div class="product">
    <a href="/admin/products/<%= product.id %>"
      ><img
        width="150"
        height="150"
        src="<%= product.coverImagePath %> "
        alt="product"
    /></a>

    <div class="product_info">
      <p><%= product.name %></p>
    </div>
    <div class="product_options">
      <div class="option view">
        <a href="/admin/products/<%= product.id %>">View</a>
      </div>
      <div class="option edit">
        <a href="/admin/products/<%= product.id %>/edit">Edit</a>
      </div>
      <div class="option delete">
        <form
          action="/admin/products/<%= product.id %>?_method=DELETE"
          method="post"
        >
          <button type="submit">Delete</button>
        </form>
      </div>
    </div>
  </div>
  <%}) %>
</div>
