<div class="product_description">
  <img
    src="<%= product.coverImagePath %> "
    alt="<%= product.name %>"
    width="100%"
  />
  <div class="product_info">
    <p>Product: <%= product.name %></p>
    <p>Description: <%= product.description %></p>
    <p>Price: $<%= product.price %></p>
  </div>
</div>

<div class="product_options">
  <a href="/admin/products/<%= product.id %>/edit">Edit</a>
  <form action="/admin/products/<%= product.id %>?_method=DELETE" method="post">
    <button type="submit">Delete</button>
  </form>
</div>
