<div class="product_description">
  <img
    src="<%= product.coverImagePath %> "
    alt="<%= product.name %>"
    width="100%"
  />
  <div class="product_info">
    <div class="product_detail">
      <div style="font-weight: bold">
        <div>Product:</div>
        <div>Description:</div>
        <div>Price:</div>
      </div>

      <div>
        <p><%= product.name %></p>
        <p><%= product.description %></p>
        <p>$<%= product.price %></p>
      </div>
    </div>

    <div class="_show_product_options">
      <button class="btn btn_success">
        <a href="/admin/products/<%= product.id %>/edit">Edit</a>
      </button>
      <form
        action="/admin/products/<%= product.id %>?_method=DELETE"
        method="post"
      >
        <button type="submit" class="btn btn_danger">Delete</button>
      </form>
    </div>
  </div>
</div>
